package templates

import "github.com/dmitkov28/price-parser/components/card"

templ Root() {
	<html>
		<link rel="stylesheet" href="/static/css/output.css"/>
		<h1 class="text-red-500">Hello World</h1>
		@card.Card() {
			@card.Title() {
				Card Title
			}
			@card.Description() {
				Card Description
			}
			@card.Content() {
				Card Content
			}
		}
	</html>
}
