package templates

templ Root() {
	<html>
		<link rel="stylesheet" href="/static/css/output.css"/>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		@SearchForm()
		<div id="search-results">
			@Loading()
		</div>
	</html>
}

templ Loading() {
	<div id="loading" class="htmx-indicator">...</div>
}
