package templates

templ SearchForm() {
    <form hx-get="/search" hx-target="#search-results" hx-indicator="#loading" class="max-w-[500px] bg-gray-100 p-4 rounded-lg shadow-md">
        <input name="query" class="border border-gray-300 bg-white rounded-lg p-2 w-full mb-2 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Macbook pro" type="text"/>
        <button class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition cursor-pointer">Search</button>
    </form>
}
