package templates

templ SearchForm() {
	<form hx-get="/search" hx-target="#search-results" hx-indicator="#loading" class="w-full p-4 rounded-lg shadow-md">
		<input name="query" class="border border-gray-300 bg-white rounded-lg p-2 w-full mb-2 focus:outline-none focus:ring-1 focus:ring-black" placeholder="Macbook pro" type="text"/>
		<button class="bg-black w-full text-white px-4 py-2 rounded-lg transition cursor-pointer">Search</button>
	</form>
}
